/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    font: 14px "Note Sans KR", sans-serif;
}

.en {
    font-family: "Exo 2", sans-serif;
}

/* header 스타일 */
header {
    width: 100%;
    /* background: red; */
    background: rgba(0,0,0, 0.2);
    height: 100px;
    line-height: 100px;
    position: fixed;
}
header .inner-header {
    width: 84%;
    /* background: orange; */
    margin: 0 auto;
}
header .inner-header h1.logo {
    float: left;
    width: 200px;
}
header .inner-header h1.logo img{
    width: 100%;
}


header .inner-header nav.gnb {
    float: left;
    margin-left: 80px;
}
header .inner-header nav.gnb li {
    float: left;
    margin-right: 80px;
}
header .inner-header nav.gnb li a {
    color: #fff;
    font-size: 16px;
    /* background: red; */
    display: block;
}
header .inner-header nav.gnb li a:hover {
    color: #ff8342;
}

header .inner-header nav.tnb {
    float: right;
}
header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}
header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
}
header .inner-header nav.tnb li:last-child a {
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 33px;
}
header .inner-header nav.tnb li:first-child a i, header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}
header .inner-header nav.tnb li:last-child a:hover {
    color: #ff8342;
    background: #fff;
}
